{% load url from future %}
{% load i18n %}
<h2>
    {% if current == 'edit' %}
        {% trans "Edit Invoice for" %}
    {% endif %}
    {% if current == 'entries' %}
        {% trans "Entries for invoice of" %}
    {% endif %}
    {% if current == 'detail' %}
        {% trans "Invoice Details for" %}
    {% endif %}

    {{ invoice.project.name }} {% trans "hours" %}
    {% if invoice.start %}
    {% blocktrans %}from {{ invoice.start }} to {{ invoice.end }}{% endblocktrans %}
    {% else %}
        {% trans "through" %} {{ invoice.end }}
    {% endif %}
</h2>
<ul class="nav nav-pills">
    <li>
        <a href="{% url 'list_outstanding_invoices' %}">{% trans "Outstanding Hours" %}</a>
    </li>
    <li>
        <a href="{% url 'list_invoices' %}">{% trans "Previous Invoices" %}</a>
    </li>
    <li>
        {% if current != 'detail' %}
            <a href="{% url 'view_invoice' invoice.id %}">{% trans "View Invoice" %}</a>
        {% else %}
            <span>{% trans "View Invoice" %}</span>
        {% endif %}
    </li>
    <li>
        {% if current != 'edit' %}
            <a href="{% url 'edit_invoice' invoice.id %}">{% trans "Edit Invoice" %}</a>
        {% else %}
            <span>{% trans "Edit Invoice" %}</span>
        {% endif %}
    </li>
    <li>
        {% if current != 'entries' %}
            <a href="{% url 'view_invoice_entries' invoice.id %}">{% trans "View Entries" %}</a>
        {% else %}
            <span>{% trans "View Entries" %}</span>
        {% endif %}
    </li>
    <li>
        <a href="{% url 'view_invoice_csv' invoice.id %}">{% trans "Download CSV" %}</a>
    </li>
</ul>
