{% load i18n %}
{% if billable_entries %}
    {% with entries=billable_entries %}
        <h4>{% trans "Billable entries" %}</h4>
        {% include 'timepiece/invoice/_weekly_entry_list_table.html' %}
    {% endwith %}
{% else %}
    <p>{% trans "No billable entries were found." %}</p>
{% endif %}
{% if nonbillable_entries %}
    {% with entries=nonbillable_entries %}
        <h4>{% trans "Non-billable entries" %}</h4>
        {% include 'timepiece/invoice/_weekly_entry_list_table.html' %}
    {% endwith %}
{% else %}
    <p>{% trans "No non-billable entries were found." %}</p>
{% endif %}
