{% extends 'timepiece/contract/base.html' %}
{% load timepiece_tags %}
{% load url from future %}
{% load i18n %}

{% block title %}{{ contract }}{% endblock title %}
{% block bodyid %}contracts{% endblock bodyid %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url 'view_contract' contract.pk %}">{{ contract }}</a></li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{ contract }}</h2>
            <ul class="nav nav-pills">
                {% if perms.contracts.change_contract %}  {# FIXME: permission doesn't exist #}
                    <li><a href="{{ contract.get_admin_url }}">{% trans "Edit" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <h3>{% trans "Contract Info" %}</h3>
            <table class="table table-bordered">
                <tr><th>{% trans "Status" %}</th><td>{{ contract.get_status_display }}</td></tr>
                <tr><th>{% trans "Start Date" %}</th><td>{{ contract.start_date|date:'M j, Y' }}</td></tr>
                {% if contract.end_date < today %}
                    <tr class="expired" title="{% trans "This contract has expired." %}">
                {% elif contract.end_date < warning_date %}
                    <tr class="expiring-soon" title="{% trans "This contract will expire in less than two weeks." %}">
                {% else %}
                    <tr>
                {% endif %}
                    <th>{% trans "End Date" %}</th>
                    <td{% if contract.end_date < today %} class="past"{% endif %}>
                        {{ contract.end_date|date:'M j, Y' }}
                        {% if contract.end_date >= today and contract.end_date < warning_date %}
                            <i class="icon-warning-sign"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr><th>{% trans "Contract Hours" %}</th>
                    <td>
                        {{ contract.contracted_hours|floatformat:2 }}
                        {% if contract.pending_hours %}
                            <span class="pending_hours">(+{{ contract.pending_hours }})</span>
                        {%  endif %}</td>
                    </td>
                </tr>
                <tr><th>{% trans "Hours Worked (billable)" %}</th>
                    <td>
                        {{ contract.hours_worked|floatformat:2 }}
                        ({% widthratio contract.hours_worked contract.contracted_hours 100 %}%)
                    </td>
                </tr>
                <tr><th>{% trans "Hours Remaining" %}</th><td>{{ contract.hours_remaining|floatformat:2 }}</td></tr>
                <tr><th>{% trans "Type" %}</th><td>{{  contract.get_type_display }}</td></tr>
            </table>
        </div>
        <div class="span7 offset1">
            <h3>{% trans "Projects" %}</h3>
            {% if contract.projects.exists %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th rowspan="2">{% trans "Name" %}</th>
                        <th colspan="2">{% trans "Hours Worked" %}</th>
                        <th rowspan="2">{% trans "Time Sheet" %}</th>
                        <th rowspan="2">{% trans "Hours Report" %}</th>
                    </tr>
                    <tr>
                        <th>{% trans "Billable" %}</th>
                        <th>{% trans "Non-billable" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in contract.projects.all %}
                        {% project_hours_for_contract contract project 'billable' as project_hours %}
                        {% project_hours_for_contract contract project 'nonbillable' as nonbillable_hours %}
                        <tr>
                            <td><a href="{% url 'view_project' project.pk %}">{{ project.name }}</a></td>
                            <td class="hours">{{ project_hours|floatformat:'2' }}</td>
                            <td class="hours">{{ nonbillable_hours|floatformat:'2' }}</td>
                            <td><a href="{% url 'view_project_timesheet' project.id %}">Time Sheet</a></td>
                            <td><a href="{% project_report_url_for_contract contract project %}">Hours Report</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{% trans "This contract is not associated with any projects." %}</p>
            {% endif %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h3>{% trans "Contract Hours" %}</h3>
            <table class='table table-bordered'>
                <tr>
                    <th>{% trans "Date Requested" %}</th>
                    <th>{% trans "Hours" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Date Approved" %}</th>
                    <th>{% trans "Notes" %}</th>
                </tr>
                {% for hour in contract.contract_hours.all %}
                    <tr>
                        <td>{{ hour.date_requested }}</td>
                        <td class="hours">{{ hour.hours }}</td>
                        <td>{{ hour.get_status_display }}</td>
                        <td>{% if hour.date_approved %}{{ hour.date_approved }}{% endif %}</td>
                        <td>{{ hour.notes }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
